source {{ antigen_path }}/bin/antigen.zsh

antigen use oh-my-zsh
antigen bundle <<EOBUNDLES
{% for plugin in item.plugins %}
{{ plugin }}
{% endfor %}
EOBUNDLES

antigen theme {{ item.theme }}
antigen apply
source ~/.profile

{{ item.zshrc_extra }}
